<div class="contacts">
  <app-header></app-header>
  <h1 class="contacts__title">Для связи</h1>
  <div class="contacts-data">
    <input type="tel" class="contacts-data__pref" value="ph: ">
    <input type="tel" class="contacts-data__value" value="{{ phoneNumber }}">
  </div>
  <div class="contacts-data">
    <input type="email" class="contacts-data__pref" value="e-m: ">
    <input type="email" class="contacts-data__value" value="{{ eMail }}">
  </div>
</div>
