<div class="competitions">
  <app-header></app-header>
  <h1 class="competitions__title">Мои конкурсы</h1>
  <div class="diplomas">
    <img src="assets/img/diplomas/d{{pic}}.jpg" alt="{{pic}}" importance="low" class="diplomas__pic" *ngFor="let pic of diplomas">
  </div>
</div>
