@media all and (max-width: 960px) {
  .competitions {
    &__title {
      padding-top: 250px;
    }
  }
}

@media all and (max-width: 640px) {
  .competitions {
    &__title {
      padding-top: 150px;
    }
  }
}
