<header class="header">
  <h1 class="header__title" *ngIf="showTitle">Здравствуйте, меня зовут <br>Артем <br> и я очень люблю рисовать</h1>
  <h2 class="header__title header__title--sub" *ngIf="showTitle">я художник</h2>
  <button mat-raised-button
          class="buttons header__button header__button--gallery"
          *ngIf="showGalleryButton"
          [ngClass]="{'left-corner-secondary': showCompetitionsButton}"
          routerLink="/gallery">
    Мои Картины
  </button>
  <button mat-raised-button
          class="buttons header__button header__button--contacts left-corner"
          *ngIf="showContactsButton"
          routerLink="/contacts">
    Контакты мамы
  </button>
  <!--<button mat-raised-button-->
          <!--class="buttons header__button header__button&#45;&#45;competitions left-corner"-->
          <!--*ngIf="showCompetitionsButton"-->
          <!--routerLink="/competitions">-->
    <!--Мои конкурсы-->
  <!--</button>-->
  <img src="assets/img/photos/Artem1.jpg" *ngIf="startPic" routerLink="/competitions" alt="Артем" class="header__photo" [ngClass]="{'small': !showTitle}">
</header>
