.header {
  position: absolute;
  width: 100%;
  height: 500px;
  letter-spacing: 2px;

  &__title {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    top: 4vh;
    width: 42vw;
    color: #ddd;
    text-shadow: 1px 1px #000, 1px 1px #fff;
    text-align: right;
    margin: auto;

    &--sub {
      top: 20vh;
      text-shadow: 1px 1px #2839b5;
    }
  }

  &__button {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 16px;
    width: 280px;
    &--gallery {
      min-height: 35px;
      margin: 38vh auto;
    }
    &--contacts {
      max-height: 35px;
    }
  }

  &__photo {
    width: 20vw;
    height: auto;
    position: absolute;
    z-index: 11;
    left: 1vw;
    top: 3vh;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #fff;
  }
}

.header__button.left-corner.left-corner {
  top: 1vh;
  right: 2vh;
  margin: 0 0 0 auto;
}
.buttons.header__button.header__button--gallery.mat-raised-button.mat-button-base.left-corner-secondary {
  top: 7vh;
  right: 2vh;
  margin: 0 0 0 auto;
}

@media all and (max-width: 960px) {
  .header {
    .header__title {
      margin-left: 30vw;
      font-size: 22px;
    }
    .header__title.header__title--sub {
      top: 45vh;
      font-size: 20px;
    }
    .header__photo {
      min-width: 25vw;
    }
    .header__button--gallery {
      margin-top: 55vh;
      margin-bottom: 30vh;
    }
  }
}

@media all and (max-width: 640px) {
  .header {
    .header__title {
      font-size: 20px;
      margin-left: 33vw;
    }
    .header__title.header__title--sub {
      font-size: 20px;
    }
    .header__photo {
      min-width: 22vw;
    }
    .header__button--contacts,
    .left-corner-secondary {
      max-width: 150px;
      font-size: 14px;
    }
  }
}

@media all and (max-width: 400px) {
  .header {
    .header__title {
      font-size: 20px;
    }
    .header__title.header__title--sub {
      font-size: 18px;
    }
    .header__button {
      max-width: 250px;
      &--contacts,
      &.left-corner-secondary {
        max-width: 150px;
      }
    }
  }
}
