body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
body > div {
  font-size: 12px !important;
  display: none !important;
}
html, body { height: 100%; }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
p {
  margin: 0;
}
* {
  outline: none;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(148, 180, 250)),
    color-stop(0.72, rgb(85, 173, 249)),
    color-stop(0.86, rgb(33, 85, 252)));
}
.small {
  min-width: 10vw;
  max-width: 10vw;
}
.padded {
  padding: 4% 17%;

  &-light {
    padding: 1% 5%;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  height: min-content;
  min-height: 18px;
  font-weight: 400;
  border-radius: 4px;
  text-align: center;
  color: #2b3cb7;
  background-color: #e3edf9;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #c6d0dc;
  }
  &:active {
    color: #276cb5;
    box-shadow: none;
  }
}
.gallery,
.contacts,
.competitions {
  &__title {
    text-align: center;
    padding-top: 110px;
    letter-spacing: 5px;
    color: #f36406;
    font-style: italic;
    font-size: 40px;
    text-transform: lowercase;
  }

  .paints,
  .diplomas {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__pic {
      height: auto;
      margin: 20px;
    }
  }
  .paints {
    &__pic {
      width: 25%;
      border: 20px double #c8a91e;
    }
  }
  .diplomas {
    &__pic {
      width: 80%;
      border: 5px solid #c8a91e;
    }
  }
}
.contacts {
  height: 100vh;
  background-color: #faebd7;
  //margin-top: -10px;
  &__title {
    padding-top: 120px;
    letter-spacing: 5px;
    color: #dbcc37;
    text-shadow: 1px 1px #000;
  }
  &-data {
    margin-left: 40%;
    position: relative;

    &__pref {
      letter-spacing: 1px;
      background: inherit;
      border: none;
      width: 40px;
    }
    &__value {
      letter-spacing: 1px;
      background: inherit;
      border: none;
      width: 225px;
    }
  }
}
.button-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.disabled {
  cursor: no-drop !important;
}

@media all and (max-width: 960px) {
  .paints {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__pic {
      min-width: 91%;
      max-width: 91%;
      height: auto;
    }
  }
  .contacts {
    &__title {
      padding-top: 90px;
    }
  }
}

@media all and (max-width: 640px) {
  .paints {
    &__pic {
      min-width: 80%;
      max-width: 80%;
    }
  }
  .gallery,
  .contacts {
    &__title {
      font-size: 30px;
    }
  }
  .contacts {
    &__title {
      padding-top: 70px;
    }
    &-data {
      margin-left: 30%;
    }
  }
  .selection .order {
    .order {
      &-picture {
        max-width: 400px;
      }
    }
  }
}

@media all and (max-width: 580px) {
  .selection .order {
    min-width: fit-content;

    .order {
      &-picture {
        max-width: 340px;
      }
    }
  }
}

@media all and (max-width: 400px) {
  .contacts {
    &__title {
      font-size: 25px;
      padding-top: 70px;
    }
    &-data {
      margin-left: 25%;
    }
  }
  .gallery .paints__pic {
    margin: 15px auto;
  }
  app-gallery .selection .order {
    padding: 0;
    .order {
      &-picture {
        max-width: 250px;
      }
      &-menu {
        padding: 15px 0;
      }
    }
  }
}

