<div class="gallery">
  <app-header></app-header>
  <h1 class="gallery__title">Мои картины</h1>
  <div class="paints" (click)="selectPic($event)">
    <img src="assets/img/paints/{{pic}}.jpg" alt="{{pic}}" importance="low" class="paints__pic" *ngFor="let pic of paintings">
  </div>
</div>
<div class="selection" *ngIf="selected">
  <span class="selection-close" (click)="unselectPic()">X</span>
  <div class="order">
    <h2 class="order-header">меню в разработке</h2>
    <img src="assets/img/paints/{{selectedNumber}}.jpg" alt="selected picture" importance="low" class="order-picture">
    <form class="order-menu" [formGroup]="orderPictureForm" novalidate>

      <div class="button-group" *ngIf="!showOrder && !showFeedback">
        <button mat-raised-button
                class="buttons button-feedback disabled"
                (click)="openFeedback()">
          Оставить отзыв
        </button>
        <button mat-raised-button
                class="buttons button-order disabled"
                (click)="openOrder()">
          Заказать картину
        </button>
        <!--<input type="button" class="buttons button-feedback disabled"  value="Оставить отзыв"  disabled>-->
        <!--<input type="button" class="buttons button-order disabled"  value="Заказать картину"  disabled>-->
      </div>

      <div class="order-form" *ngIf="showOrder">
        <select class="size" name="" formControlName="pictureSize">
          <option value="{{ sizes.min }}" selected>{{ sizes.min }}</option>
          <option value="{{ sizes.preMid }}">{{ sizes.preMid }}</option>
          <option value="{{ sizes.middle }}">{{ sizes.middle }}</option>
          <option value="{{ sizes.preBig }}">{{ sizes.preBig }}</option>
          <option value="{{ sizes.big }}">{{ sizes.big }}</option>
          <option value="{{ sizes.largest }}">{{ sizes.largest }}</option>
        </select>
        <input type="text" class="size-value"  value="{{ orderPictureForm.value.pictureSize }}" readonly>
        <input type="submit" class="buttons disabled button-submit"  value="Заказать" disabled>
      </div>
      <div class="order-form" *ngIf="showFeedback">
        <input type="text" class="name">
        <input type="button" class="buttons disabled button-submit" value="Отправить отзыв" disabled>
      </div>
    </form>
  </div>

</div>

