.selection {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    right: 7%;
    top: 3%;
    color: #ddd;
    text-shadow: 1px 1px 2px #000;
    font-size: 30px;
    cursor: pointer;
    z-index: 102;
  }
}
.order {
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;

  &-header {
    margin: auto;
    padding: 20px;
  }

  &-picture {
    position: relative;
    width: auto;
    max-width: 550px;
    height: auto;
    max-height: 74vh;
    margin: auto;
    border: 15px double #c8a91e;
  }

  &-menu {
    width: 90%;
    max-width: 850px;
    padding: 20px;
    margin: auto;
  }
}
